.activeTable {
  margin: 0 auto 2em auto;
  border: 2px solid #fefefe;
  padding: 0;
  width: 80%;
  max-height: 55vh;
  overflow: scroll;
  color: #f9f9f9;
}

.activeHeader {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.activeTable thead {
  background-color: #213547;
}

.activeTable thead tr {
  font-size: 1.4rem;
  font-weight: 700;
}

.activeTable tbody {
  background-color: #464545;
}
.activeTable tbody tr {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
.activeTable tbody tr td:first-child {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.addRepairButton {
  background-color: #456433;
  color: #f9f9f9;
  width: fit-content;
  margin: 0 2.5em 2em auto;
  padding: 0.3rem 0.5rem;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  font-weight: 600;
}
.addRepairButton:visited {
  color: #f9f9f9;
}

.noDataBlock {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-top: 25%;
}

@media screen and (max-width: 475px) {
  .activeHeader {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }
  .activeTable {
    width: 80%;
    max-height: 60vh;
  }
  .activeTable tbody tr td {
    font-size: 1.2rem;
    padding: 0 0.2rem;
  }

  .activeNoDataHeader {
    font-size: 2rem;
  }
}
