.editHeader {
  font-size: 2.5em;
  margin-top: 1rem;
}

.editMachineForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  margin: 1em auto;
  background-color: #464545;
  padding: 1rem;
  border-radius: 8px;
  width: 50%;
}

.editMachineForm div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.editMachineForm div label {
  align-self: flex-start;
  width: 100%;
}

.checkAll {
  width: 100%;
}

.editMachineForm label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f9f9f9;
}

.editMachineForm label input[type="text"] {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.editMachineForm label input[type="checkbox"] {
  margin-left: 1rem;
}

.editMachineForm input[type="submit"] {
  font-size: 1.4rem;
  margin: 1em auto 0 auto;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-weight: 600;
  width: fit-content;
  background-color: #213547;
  color: #f9f9f9;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 500px) {
  .editMachineForm {
    width: 90%;
  }
  .editMachineForm div label input[type="text"] {
    width: 50%;
    height: 1.5rem;
    padding: 1rem 0 1rem 0.5rem;
  }

  .editMachineForm input[type="submit"] {
    font-size: 1.2rem;
    background-color: #213547;
    color: #f9f9f9;
    border-radius: 8px;
    border: none;
    padding: 0.6rem 0.8rem;
  }

  .editMachineForm label input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
  }
}
