.loginHeader {
  margin: 1rem 0 0 0;
  font-size: 2.2rem;
  color: #f9f9f9;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: fit-content;
  margin: 2em auto 2.2em auto;
  padding: 1em;
  border-radius: 11px;
  border: inset 2px #f9f9f9;
  background-color: #464545;
}
.loginForm div label {
  font-weight: 700;
  font-size: 1.5rem;
  color: #f9f9f9;
}

select {
  font-size: 1rem;
  background-color: #213547;
  color: #f9f9f9;
  padding: 0.3rem 0.3rem;
}

.loginForm input[type="submit"] {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  background-color: #213547;
  border: 2px solid #f9f9f9;
  color: #f9f9f9;
}
