.formButtonGroup {
  margin-top: 1rem;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
}

.formButtonGroup button {
  border-radius: 8px;
  border: none;
}

.formButtonGroup button.activated {
  background-color: #444444;
}
