@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --bgMain: #24374c;
  --bgSecondary: #1e4d57;
  --fgMain: #4e7d85;
  --fgSecondary: #7e95ab;
  --accent: #e1e4ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 3.2px;
  color: var(--fgSecondary);
}

h1 {
  color: var(--bgMain);
}

html,
body {
  background-color: var(--bgMain);
  color: var(--accent);
  font-family: "Abel", sans-serif;
}

#root {
  height: 100dvh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fgSecondary);
  width: 100vw;
}
