@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #2a2829;
  --backgroundDark: #1e1e1e;
  --inputBackground: #d9d9d9;
  --bannerBackground: #262f4c;
  --linkText: #6d7db2;
  --textPrimary: #f9f9f9;
  --textSecondary: #8999af;
  --buttonPrimary: #040b22;
  --buttonSecondary: #8999af;

  --mobileMD: 450px;
  --mobileSM: 375px;
  --mobileLG: 520px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 3.2px;
  color: var(--linkText);
}

h1 {
  color: var(--textPrimary);
  margin-top: 1rem;
}

html,
body {
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

#root {
  height: 100dvh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  width: 100vw;
}

@media screen and (min-width: 451px) {
  body,
  html {
    max-width: 1800px;
    margin: 0 auto;
  }

  #root {
    flex-direction: row;
    height: 100%;
    scroll-behavior: smooth;
  }
  header {
    flex: 1;
    height: auto;
  }
  .container {
    flex: 2;
    /* height: 100vh; */
    min-height: 100dvh;
    overflow-y: auto;
  }

  footer {
    display: none;
  }
}
