@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --bgSecondary: #0f172a;
  --bg: #1e3a8a;
  --primaryButton: #3b82f6;
  --secondaryLink: #2563eb;
  --titleText: #f8fafc;
  --secondaryText: #cbd5e1;
  --accent: #60a5fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 3.2px;
  color: var(--secondaryText);
}

h1 {
  color: var(--titleText);
  margin-top: 1rem;
}

html,
body {
  background-color: var(--bg);
  color: var(--accent);
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

#root {
  height: 100dvh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgSecondary);
  width: 100vw;
}
