h1.loginHeader {
  font-size: 3rem;
  letter-spacing: 1.8px;
  margin-bottom: 0;
}

form.loginForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid red; */
  padding: 4rem 1.8rem;
  border-radius: 8px;
  box-shadow: -3px 8px 12px var(--linkText);
  background-color: var(--backgroundDark);
}

form.loginForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form.loginForm div label {
  font-size: 18px;
}
form.loginForm div input,
select {
  font-size: 18px;
  padding: 4px;
  border-radius: 8px;
  width: 100%;
  height: 42px;
  text-align: start;
}
form.loginForm select option {
  text-align: start;
}

form.loginForm button[type="submit"] {
  padding-block: 1rem;
  font-size: 1.5rem;
  width: 90%;
  align-self: center;
  font-weight: 700;
  background-color: var(--buttonPrimary);
  color: var(--textPrimary);
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #000;
}
