@import "../index.css";

.homeScreenButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.homeScreenButtonGroup a {
  border: 1px double var(--accent);
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  box-shadow: 2px 3px 6px #333;
  background-color: var(--bgMain);
}

.homeScreenButtonGroup a:active {
  box-shadow: 1px 1px 3px #000;
  font-size: 0.9rem;
}

@media screen and (max-width: 450px) {
  .homeScreenButtonGroup {
    gap: 3rem;
  }
  .homeScreenButtonGroup a {
    font-size: 2rem;
  }
  .homeScreenButtonGroup a:active {
    font-size: 1.8rem;
  }
}
