@import "../index.css";

@media screen and (max-width: 450px) {
  /*MAIN BLOCK FORM HOME SCREEN*/
  .homeBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 24px;
  }
  /*USER INFO BLOCK - FIRSTCHILD*/
  .userBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 50px;
  }
  .userBlock img {
    width: 150px;
    height: 150px;
    border-radius: 28px;
  }

  .userBlockRole {
    font-weight: 800;
  }
  .userBlockRole span {
    font-weight: 100;
    margin-left: auto;
  }
  .userBlockName {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  /*EDIT TECHNICIANS BLOCK - SECONDCHILD*/
  .adminPanelButtonBlock {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .adminPanelButtonBlock a {
    color: var(--textPrimary);
    border: 1px solid var(--textSecondary);
    padding: 15px 8px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--buttonPrimary);
    text-align: center;
  }
  .adminPanelButtonBlock a:first-child {
    border-radius: 8px 8px 0 0;
    /* background-color: #18254f; */
  }
  .adminPanelButtonBlock a:last-child {
    border-radius: 0 0 8px 8px;
  }
}

@media screen and (min-width: 451px) {
  .homeBlock {
    width: 80%;
    height: auto;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .userBlock {
    width: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 40%;
  }
  .userBlock img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
  }
  .userBlockInfo {
    display: flex;
    flex-direction: column;
  }
  .userBlockName {
    font-size: 24px;
  }
  .userBlock p:last-child {
    margin-top: 12px;
  }

  .adminPanelButtonBlock {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
  }
  .adminPanelButtonBlock a {
    background-color: var(--buttonPrimary);
    font-size: 18px;
    padding-block: 18px;
    max-width: 200px;
    text-align: center;
    font-weight: 600;
    border-radius: 12px;
  }
}
