@import "../index.css";

@media screen and (max-width: 450px) {
  /*MAIN BLOCK FORM HOME SCREEN*/
  .homeBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 24px;
  }
  /*USER INFO BLOCK - FIRSTCHILD*/
  .userBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 50px;
  }
  .userBlock img {
    width: 150px;
    height: 150px;
    border-radius: 28px;
  }

  .userBlockRole {
    font-weight: 800;
  }
  .userBlockRole span {
    font-weight: 100;
    margin-left: auto;
  }
  .userBlockName {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  /*EDIT TECHNICIANS BLOCK - SECONDCHILD*/
  .adminPanelButtonBlock {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .adminPanelButtonBlock a {
    color: var(--textPrimary);
    border: 1px solid var(--textSecondary);
    padding: 15px 8px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--buttonPrimary);
    text-align: center;
  }
  .adminPanelButtonBlock a:first-child {
    border-radius: 8px 8px 0 0;
    /* background-color: #18254f; */
  }
  .adminPanelButtonBlock a:last-child {
    border-radius: 0 0 8px 8px;
  }

  /*TASKBLOCK - LASTCHILD*/
  .taskBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    align-items: flex-start;
    background-color: var(--backgroundDark);
    color: var(--textPrimary);
    border-radius: 8px;
    margin-bottom: 40px;
  }
  .taskBlock h3 {
    width: 100%;
    color: var(--textSecondary);
    background-color: var(--bannerBackground);
    padding: 10px 22px 10px 8px;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .taskBlock h3 button {
    background-color: transparent;
    color: var(--textPrimary);
    font-size: 22px;
    border: none;
  }
  .taskItems {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
  .taskItems p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
  }
  .taskItems p span {
    flex: 1;
  }
  .deleteTaskButton {
    background-color: red;
    color: var(--textPrimary);
    height: 18px;
    width: 18px;
    border-radius: 5px;
  }
  .submitTaskArea {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    align-self: center;
  }
  .submitTaskArea textarea {
    width: 100%;
    height: 80px;
    margin: 10px auto 0 auto;
    padding: 5px 0;
    font-size: 16px;
    resize: none;
  }
  .submitTaskButton {
    font-size: 16px;
    background-color: var(--buttonSecondary);
    color: var(--textPrimary);
    border: none;
    border-radius: 4px;
    height: 34px;
    width: 120px;
    margin: 10px auto 0 auto;
  }
}

@media screen and (min-width: 451px) {
  .homeBlock {
    width: 80%;
    height: auto;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }

  .userBlock {
    width: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 40%;
  }
  .userBlock img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
  }
  .userBlockInfo {
    display: flex;
    flex-direction: column;
  }
  .userBlockName {
    font-size: 24px;
  }
  .userBlock p:last-child {
    margin-top: 12px;
  }

  .adminPanelButtonBlock {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
  }
  .adminPanelButtonBlock a {
    background-color: var(--buttonPrimary);
    font-size: 18px;
    padding-block: 18px;
    max-width: 200px;
    text-align: center;
    font-weight: 600;
    border-radius: 12px;
  }

  .taskBlock {
    flex-basis: 100%;
    width: 100%;
    align-self: center;
    background-color: var(--backgroundDark);
    border-radius: 8px 8px 0 0;
    margin-top: 28px;
  }
  .taskBlock h3 {
    background-color: var(--bannerBackground);
    display: flex;
    justify-content: space-between;
    padding: 14px 12px;
    border-radius: 8px 8px 0 0;
  }
  .taskBlock h3 button {
    background-color: transparent;
    color: var(--textPrimary);
    border: none;
  }
  .taskItems {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    text-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
  }
  .taskItems p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .taskItems p input[type="checkbox"] {
    flex: 0;
    margin-right: 14px;
  }
  .taskItems p span {
    flex: 4;
  }
  .deleteTaskButton {
    background-color: red;
    color: var(--textPrimary);
    height: 24px;
    width: 24px;
    border-radius: 5px;
  }
  .submitTaskArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    align-self: center;
  }
  .submitTaskArea textarea {
    width: 90%;
    height: 80px;
    margin: 10px auto 0 auto;
    padding: 5px 0;
    font-size: 16px;
    resize: none;
  }

  .submitTaskButton {
    font-size: 16px;
    background-color: var(--buttonSecondary);
    color: var(--textPrimary);
    border: none;
    border-radius: 4px;
    height: 28px;
    width: 100px;
    margin: 0 auto 10px auto;
  }
}
