@import "../index.css";

@media screen and (max-width: 450px) {
  .loginForm {
    background-color: var(--bannerBackground);
    color: var(--textPrimary);
    width: 220px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    box-shadow: -4px 4px 10px #000;
    border-radius: 10px;
  }

  .loginForm div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginForm h1 {
    font-size: 24px;
  }

  .loginForm select,
  input {
    font-size: 16px;
    height: 32px;
    color: var(--backgroundDark);
    width: 100%;
  }
  .loginForm input[type="password"] {
    width: 80%;
  }

  .loginForm a {
    color: var(--linkText);
    font-size: 16px;
    margin-bottom: 10px;
  }

  .loginForm button[type="submit"] {
    background-color: var(--buttonPrimary);
    color: unset;
    /* padding: 0 24px; */
    width: 90px;
    height: 45px;
    font-size: 20px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 451px) {
  .loginForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: auto;
  }
  .loginForm h1 {
    font-size: 44px;
    margin-bottom: 24px;
  }

  .loginForm select,
  input {
    width: 230px;
    font-size: 18px;
    background-color: var(--backgroundDark);
    color: var(--textPrimary);
  }

  .loginForm button[type="submit"] {
    background-color: var(--buttonPrimary);
    color: var(--textPrimary);
    width: 120px;
    height: 40px;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    box-shadow: 3px 4px 9px var(--backgroundDark);
  }

  .loginForm a {
    color: var(--linkText);
  }
}
