header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  padding: 1rem 1rem;
  box-shadow: -4px 0 9px #000;
  background-color: var(--bannerBackground);
}

header.header a h1 {
  color: var(--textPrimary);
  font-size: 40px;
}

.navLinks {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  header.header {
    flex-direction: column;
    height: 130px;
    box-shadow: -5px 0 10px #000;
    width: 100%;
    z-index: 1000;
  }

  header.header a h1 {
    color: var(--textPrimary);
    font-size: 40px;
  }

  header.header a h1 small {
    font-size: 24px;
    color: var(--textSecondary);
  }

  .navLinks {
    gap: 1.8rem;
    font-size: 1.3rem;
  }

  .noShow {
    display: none;
  }
}
