@media screen and (max-width: 450px) {
  header.header {
    background-color: var(--bannerBackground);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: -5px 0 10px #000;
    width: 100%;
    padding-top: 26px;
    height: auto;
    z-index: 1000;
  }

  header.header a h1 {
    color: var(--textPrimary);
    font-size: 30px;
    padding-left: 14px;
    font-weight: 600;
  }

  header.header a h1 small {
    font-size: 18px;
    font-weight: 100;
    color: var(--textSecondary);
  }

  .hamburger {
    font-size: 28px;
    padding-right: 14px;
  }

  header.header nav {
    align-self: end;
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 18px;
    padding-bottom: 10px;
  }

  .navLinks {
    gap: 1.8rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  .noShow {
    display: none;
  }
  .lgScreenFooter {
    display: none;
  }
  .lgScreenLinks {
    display: none;
  }
}

@media screen and (min-width: 451px) {
  .hamburger {
    display: none;
  }
  header.header {
    background-color: var(--bannerBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    border-right: 3px double var(--textPrimary);
    box-shadow: 4px 0 12px var(--buttonPrimary);
    z-index: 1000;
    max-width: 300px;
    position: relative;
  }

  header.header a {
    width: 100%;
  }
  header.header a h1 {
    font-size: 2.4em;
    margin-top: 1em;
    width: 100%;
  }
  header.header a h1 small {
    font-size: 18px;
    font-weight: 400;
    text-shadow: none;
  }

  header.header nav {
    width: 100%;
    padding-top: 40px;
    flex: 2;
    /* justify-items: end; */
  }

  .lgScreenLinks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .lgScreenLinks a {
    font-size: 20px;
  }

  .lgScreenFooter {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
  }
  .lgScreenFooter div a {
    color: var(--linkText);
    font-style: italic;
    font-size: 1.4rem;
  }
}
