@import "../index.css";

@media screen and (max-width: 450px) {
  .onlyPrint {
    display: none;
  }

  .cardButtonBlock {
    background-color: var(--buttonSecondary);
    display: flex;
    justify-content: space-evenly;
    margin-block: 32px;
    width: 340px;
    height: 45px;
    border-radius: 12px;
  }
  .cardButtonBlock button {
    font-size: 16.5px;
    font-weight: 800;
    width: 100%;
    padding-inline: 8px;
    border: none;
    background: transparent;
    color: unset;
  }
  .cardButtonBlock button:nth-child(3) {
    background-color: #025c1d;
  }
  .cardButtonBlock button:first-child {
    border-radius: 10px 0 0 10px;
  }
  .cardButtonBlock button:last-child {
    border-radius: 0 10px 10px 0;
    background-color: #990000;
  }
  .cardButtonBlock button:disabled {
    background-color: var(--buttonPrimary);
    color: var(--backgroundDark);
  }
  .mainCardBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .cardInfo li {
    background-color: var(--backgroundDark);
    box-shadow: none;
    height: 36px;
    text-wrap: nowrap;
    color: var(--titleText);
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    overflow-x: auto;
  }
  .cardInfo li small {
    color: var(--textSecondary);
  }

  .editMachineForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .editMachineForm input[type="text"] {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    text-align: end;
  }
  .editMachineForm select {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    border-radius: 8px;
  }
  .editMachineForm button {
    background-color: var(--buttonPrimary);
    color: var(--textPrimary);
    height: 40px;
    width: 88px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 0;
  }

  .notesBlock {
    width: 345px;
    background-color: var(--backgroundDark);
    border-radius: 12px;
  }
  .notesBlock h3 {
    background-color: var(--bannerBackground);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    margin-bottom: 12px;
  }
  .notesBlock h3 button {
    background-color: transparent;
    border: 1px solid var(--textPrimary);
    color: var(--textPrimary);
    font-size: 22px;
    width: 50px;
  }
  .notesBlock .noteItems {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 14px;
    gap: 22px;
  }
  .noteItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--textPrimary);
  }
  .noteItemFooter {
    padding-inline: 18px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .noteItemFooter button {
    background: rgb(201, 32, 32);
    color: var(--textPrimary);
    font-size: 14px;
    border: none;
    border-radius: 16px;
    width: 25px;
    height: 25px;
  }
  .noteItemFooter p:last-child {
    color: var(--textSecondary);
  }
  .addNoteForm {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-block: 18px;
  }
  .addNoteForm textarea {
    width: 80%;
    height: 200px;
    font-size: 18px;
  }
  .addNoteForm button {
    background-color: var(--buttonSecondary);
    color: var(--textPrimary);
    width: 90px;
    height: 40px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
  }
}

@media screen and (min-width: 451px) {
  .onlyPrint {
    display: none;
  }

  .cardButtonBlock {
    background-color: var(--buttonSecondary);
    display: flex;
    justify-content: space-evenly;
    margin-block: 32px;
    width: 340px;
    height: 45px;
    border-radius: 12px;
  }
  .cardButtonBlock button {
    font-size: 16.5px;
    font-weight: 800;
    width: 100%;
    padding-inline: 8px;
    border: none;
    background: transparent;
    color: unset;
  }
  .cardButtonBlock button:nth-child(3) {
    background-color: #025c1d;
  }
  .cardButtonBlock button:first-child {
    border-radius: 10px 0 0 10px;
  }
  .cardButtonBlock button:last-child {
    border-radius: 0 10px 10px 0;
    background-color: #990000;
  }
  .cardButtonBlock button:disabled {
    background-color: var(--buttonPrimary);
    color: var(--backgroundDark);
  }

  .mainCardBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .cardInfo li {
    background-color: var(--backgroundDark);
    box-shadow: none;
    height: 36px;
    text-wrap: nowrap;
    color: var(--titleText);
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    overflow-x: auto;
  }
  .cardInfo li small {
    color: var(--textSecondary);
  }

  .editMachineForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .editMachineForm input[type="text"] {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    text-align: end;
    width: 50%;
  }
  .editMachineForm select {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    border-radius: 8px;
    width: 50%;
  }
  .editMachineForm button {
    background-color: var(--buttonPrimary);
    color: var(--textPrimary);
    height: 40px;
    width: 88px;
    border-radius: 8px;
    font-size: 18px;
  }

  .notesBlock {
    width: 345px;
    background-color: var(--backgroundDark);
    border-radius: 12px;
  }
  .notesBlock h3 {
    background-color: var(--bannerBackground);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    margin-bottom: 20px;
  }
  .notesBlock h3 button {
    background-color: transparent;
    border: 1px solid var(--textPrimary);
    color: var(--textPrimary);
    font-size: 22px;
    width: 50px;
  }

  .notesBlock .noteItems {
    width: 100%;
    max-height: 308px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 14px;
    gap: 22px;
  }
  .noteItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--textPrimary);
  }
  .noteItemFooter {
    padding-inline: 18px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .noteItemFooter button {
    background: rgb(201, 32, 32);
    color: var(--textPrimary);
    font-size: 14px;
    border: none;
    border-radius: 16px;
    width: 25px;
    height: 25px;
  }
  .noteItemFooter p:last-child {
    color: var(--textSecondary);
  }
  .addNoteForm {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-block: 18px;
  }
  .addNoteForm textarea {
    width: 80%;
    height: 200px;
    font-size: 18px;
  }
  .addNoteForm button {
    background-color: var(--buttonSecondary);
    color: var(--textPrimary);
    width: 90px;
    height: 40px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
  }
}

@media print {
  body * {
    visibility: hidden;
    font-size: 16pt;
  }
  .onlyPrint {
    display: block;
  }
  .delNoteButton {
    visibility: hidden;
  }
  .notesHeader {
    visibility: hidden;
  }

  .notesBlock,
  .notesBlock * {
    visibility: visible;
  }

  .notesBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
  }
  .noteItems {
    width: 80%;
    break-inside: avoid;
    page-break-inside: avoid;
    font-size: inherit;
  }

  .noteItem {
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .noPrint {
    display: none !important;
  }
}
