@import "../index.css";

.cardButtonBlock {
  display: flex;
  margin: 0.8rem auto;
}
.cardButtonBlock button {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--primaryButton);
  color: var(--titleText);
  padding: 0.33rem 0.5rem;
}
.cardButtonBlock button:nth-child(3) {
  background-color: #025c1d;
}
.cardButtonBlock button:first-child {
  border-radius: 10px 0 0 10px;
}
.cardButtonBlock button:last-child {
  border-radius: 0 10px 10px 0;
  background-color: #990000;
}

.mainCardBlock {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  width: 90vw;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.infoBlock {
  flex: 3;
  height: 100%;
  font-size: 1.2rem;
}

.cardInfo {
  list-style-type: none;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.cardInfo li {
  /* background-color: var(--bg); */
  color: var(--titleText);
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 3px 3px 6px #333;
  overflow-x: auto;
}

.cardInfo li small {
  margin-left: 1rem;
  text-align: end;
  font-weight: 400;
}

.printButton {
  background-color: var(--bg);
  color: var(--textPrimary);
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 8px;
}
.notesBlockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryLink);
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  color: var(--secondaryText);
}

.notesBlock {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.machineNotes h3 {
  text-decoration: underline;
  background-color: var(--bg);
  color: var(--titleText);
  width: 100%;
  text-align: end;
  padding: 0.3rem 0.8rem 0.3rem 0;
}

.machineNotes {
  list-style-type: circle;
  border-radius: 8px;
  overflow-y: auto;
  background-color: var(--accent);
  box-shadow: 4px 4px 8px #333;
  width: 100%;
  max-height: 10rem;
  flex: 2;
}
.machineNotes li {
  padding: 0.2rem 0.8rem 1rem 0.3rem;
  border-bottom: 3px double var(--accent);
  color: var(--bg);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.machineNotes li p small {
  background-color: var(--secondaryLink);
  padding: 0.1rem 0.33rem;
  color: var(--titleText);
}
.machineNotes li div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.machineNotes li div:last-child button {
  background-color: #990000;
  color: var(--secondaryText);
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 30%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .notesBlock form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}
.notesBlock form textarea {
  width: 15rem;
  height: 5rem;
  font-size: 16px;
} 
.notesBlock form button {
  margin-top: 1rem;
  align-self: center;
  background-color: var(--primaryButton);
  color: var(--titleText);
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  border: none;
  font-weight: 800;
  box-shadow: 3px 3px 5px #000;
} */

.onlyPrint {
  display: none;
}

@media screen and (max-width: 450px) {
  .cardButtonBlock {
    background-color: var(--buttonSecondary);
    justify-content: space-evenly;
    margin-block: 32px;
    width: 340px;
    height: 45px;
    display: flex;
    border-radius: 12px;
  }
  .cardButtonBlock button {
    font-size: 16.5px;
    width: 100%;
    padding-inline: 8px;
    border: none;
    background: transparent;
    color: unset;
  }
  .cardButtonBlock button:disabled {
    background-color: var(--buttonPrimary);
    color: var(--backgroundDark);
  }
  .mainCardBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    margin-bottom: 44px;
  }
  .cardInfo li {
    background-color: var(--backgroundDark);
    box-shadow: none;
    height: 36px;
    text-wrap: nowrap;
  }
  .cardInfo li small {
    color: var(--textSecondary);
  }

  .editMachineForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .editMachineForm input[type="text"] {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    text-align: end;
  }
  .editMachineForm select {
    background-color: var(--inputBackground);
    color: var(--backgroundDark);
    border-radius: 8px;
  }
  .editMachineForm button {
    background-color: var(--buttonPrimary);
    color: var(--textPrimary);
    height: 40px;
    width: 88px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 0;
  }

  .notesBlock {
    width: 345px;
    background-color: var(--backgroundDark);
    border-radius: 12px;
  }
  .notesBlock h3 {
    background-color: var(--bannerBackground);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
  }
  .notesBlock h3 button {
    background-color: transparent;
    border: 1px solid var(--textPrimary);
    color: var(--textPrimary);
    font-size: 22px;
    width: 50px;
  }
  .notesBlock .noteItems {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 14px;
    gap: 22px;
  }
  .noteItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--textPrimary);
  }
  .noteItemFooter {
    padding-inline: 18px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .noteItemFooter button {
    background: red;
    color: var(--textPrimary);
    font-size: 14px;
    border: none;
    border-radius: 16px;
    width: 25px;
    height: 25px;
  }
  .noteItemFooter p:last-child {
    color: var(--textSecondary);
  }
  .addNoteForm {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-block: 18px;
  }
  .addNoteForm textarea {
    width: 80%;
    height: 200px;
    font-size: 18px;
  }
  .addNoteForm button {
    background-color: var(--buttonPrimary);
    color: var(--textPrimary);
    width: 90px;
    height: 40px;
    font-size: 16px;
    border-radius: 12px;
  }
}

@media print {
  body * {
    visibility: hidden;
    font-size: 16pt;
  }
  .onlyPrint {
    display: block;
  }
  .delNoteButton {
    visibility: hidden;
  }
  .notesHeader {
    visibility: hidden;
  }

  .notesBlock,
  .notesBlock * {
    visibility: visible;
  }

  .notesBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
  }
  .noteItems {
    width: 80%;
    break-inside: avoid;
    page-break-inside: avoid;
    font-size: inherit;
  }

  .noteItem {
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .noPrint {
    display: none !important;
  }
}
