@import "../index.css";

/* .startRepairButtonGroup {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  border: 2px double var(--secondarytext);
  border-radius: 8px;
  width: fit-content;
}

.startRepairButtonGroup button {
  background-color: var(--primaryButton);
  color: var(--titleText);
  border: none;
}

.startRepairButtonGroup button:first-child {
  border-radius: 8px 0 0 8px;
}
.startRepairButtonGroup button:last-child {
  border-radius: 0 8px 8px 0;
} */

@media screen and (max-width: 450px) {
  .startRepairButtonGroup {
    background-color: var(--buttonSecondary);
    justify-content: space-evenly;
    margin-top: 28px;
    width: 340px;
    height: 45px;
    display: flex;
    border-radius: 12px;
  }
  .startRepairButtonGroup button {
    font-size: 16.5px;
    width: 100%;
    padding-inline: 8px;
    border: none;
    background: transparent;
    color: unset;
  }
  .startRepairButtonGroup button.activeButton {
    background-color: #728094;
  }
}
