@import "../index.css";

.startRepairButtonGroup {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  border: 2px double var(--accent);
  border-radius: 8px;
  width: fit-content;
  box-shadow: 4px 4px 7px #333;
}

.startRepairButtonGroup button {
  background-color: var(--fgMain);
  color: var(--accent);
  padding: 0.4rem 0.6rem;
  border: none;
}

.startRepairButtonGroup button:first-child {
  border-radius: 8px 0 0 8px;
}
.startRepairButtonGroup button:last-child {
  border-radius: 0 8px 8px 0;
}
