@import "../index.css";

table {
  background-color: var(--bg);
  color: var(--secondaryText);
  width: 80vw;
}

table thead {
  background-color: var(--accent);
  color: var(--bg);
}

table thead tr th {
  text-align: start;
  padding: 0.3rem 0.3rem;
}

table tbody tr td {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 0.2rem;
  border-bottom: 1px solid var(--accent);
}

.cardLink {
  text-decoration: underline;
  font-weight: 800;
}

@media screen and (max-width: 450px) {
  table {
    font-size: 1.2rem;
  }
}
