@import "../index.css";

.editForm {
  margin: 0.8rem auto;
  width: 80vw;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.machineInfo {
  list-style-type: none;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: fit-content;
}

.machineInfo li {
  background-color: var(--bg);
  color: var(--titleText);
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 3px 3px 6px #333;
}

.machineInfo li span {
  display: flex;
  width: 100%;
  justify-content: center;
}

.machineInfo li small {
  margin-left: 1rem;
  text-align: end;
  font-weight: 400;
}

.editForm button[type="submit"] {
  background-color: var(--primaryButton);
  color: var(--titleText);
  padding: 0.4rem 0.9rem;
  font-size: 1.4rem;
  border-radius: 8px;
}
