.pageControls {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}
.pageControls button {
  padding: 8px 30px;
  border: 1px solid #fff;
  background-color: var(--linkText);
  color: var(--textPrimary);
  font-size: 1.3rem;
  border-radius: 8px;
}

.pageControls button:disabled {
  color: var(--backgroundDark);
  background-color: var(--background);
  border-color: transparent;
}

table.masterTable {
  width: 100%;
  margin-top: 1rem;
}

table.masterTable thead tr {
  font-size: 1.2rem;
  background-color: var(--buttonPrimary);
}
table.masterTable thead tr th {
  padding: 0.4rem 0;
  text-align: start;
  padding-inline-start: 8px;
}

table.masterTable tbody {
  background-color: var(--bannerBackground);
  color: var(--linkText);
}

table.masterTable tbody tr td {
  padding: 0.6rem 0 0.6rem 0.4rem;
  font-size: 18px;
}
