.resetHeader {
  font-size: 1rem;
}

.resetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.resetForm div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.resetForm div input {
  font-size: 18px;
  border-radius: 8px;
  height: 38px;
  background-color: var(--inputBackground);
  color: var(--backgroundDark);
}

.resetForm button {
  margin-top: 1rem;
}
