h1.navbarHeader {
  font-size: 2.6rem;
}
.navbarHeader a {
  color: #366897;
}

.navbarHeader a span {
  font-size: 0.8em;
  color: #579ad8;
}

header nav {
  display: flex;
  gap: 1.8rem;
  align-self: center;
}

header nav a {
  color: #fefefe;
}
a.active {
  text-decoration: underline;
  color: #366897;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8em;
  width: 100vw;
  height: 8em;
  background-color: #464545;
  color: #c5c5c9;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
    /* gap: 1.5rem; */
    padding: 0;
    margin: 0;
  }
  header h1 {
    margin-top: 10px;
    flex-grow: 5;
  }

  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #696868;
    width: 100%;
    flex-grow: 3;
    padding: 0 0.8rem;
  }
  header nav a {
    flex: 1;
    /* width: 100%; */
  }

  .navbarHeader {
    font-size: 3rem;
  }
  .navbarHeader a span {
    font-size: 0.5em;
  }
}
