.metricsContainer {
  margin-top: 1rem;
  width: 90%;
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.datePicker label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.datePicker input {
  width: 100%;
}
